body {
    font-size: 20px;
    color: black;
    font-family: "Roboto Slab", Roboto, "Helvetica Neue", Helvetica, sans-serif;
}

a:link {
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: lightgray;
    text-decoration: none;
}

a:active {
    color: lightgray;
    text-decoration: underline;
}
