body {
    text-align: center;
    font-size: 22.5px;
    color: black;
    font-family: "Roboto Slab", Roboto, "Helvetica Neue", Helvetica, sans-serif;
    -webkit-animation: fadein 3s;
    -moz-animation: fadein 3s;
    -ms-animation: fadein 3s;
    -o-animation: fadein 3s;
    animation: fadein 3s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

#name {
    font-size: 55px;
    margin-top: 50px;
    margin-bottom: -8px;
}

#social-links {
    margin-top: 0;
}

::selection {
    background-color: black;
    color: white;
}

a:link, a:visited {
    color: black;
    text-decoration: underline;
}

a:hover, a:active {
    color: lightgray;
    text-decoration: none;
}
