body {
    text-align: center;
    font-size: 22.5px;
    font-family: "Roboto Slab", Roboto, "Helvetica Neue", Helvetica, sans-serif;
}

.light-mode {
    background-color: white;
    color: black;
}

.dark-mode {
    background-color: darkgray;
    color: white;
}

#name {
    font-size: 55px;
    margin-top: 50px;
    margin-bottom: 0px;
}

#social-links {
    margin-top: 0;
}

::selection {
    background-color: black;
    color: white;
}

a:link,
a:visited {
    color: black;
}

a:hover,
a:active {
    color: lightgray;
}